@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.header {
  block-size: variables.$header-height;

  // .header__wrapper
  &__wrapper {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 100;
    min-block-size: functions.responsive-value(80, 60);
    padding-block: 5px;
    background-color: variables.$color-body-background;

    @media (min-width: #{768 + 0.1px}) {
      min-block-size: functions.responsive-value(80, 32, 1920, 780, "fixed-start-value", "px");
      padding-block: functions.responsive-value(24, 10, 1920, 780, "fixed-start-value", "px")
        functions.responsive-value(15, 5, 1920, 780, "fixed-start-value", "px");
    }
  }

  // .header__container
  &__container {
  }

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: functions.responsive-value(49, 20);

    @media (min-width: #{768 + 0.1px}) {
      gap: functions.responsive-value(49, 20, 1920, 780, "fixed-start-value", "px");
    }
  }
}

.header-logo {
  flex: 0 0 auto;
  font-size: 0;

  // .header-logo__image
  &__image {
    color: variables.$color-black;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }

    svg {
      width: functions.responsive-value(213, 99);
      height: functions.responsive-value(41, 19);

      @media (min-width: #{768 + 0.1px}) {
        width: functions.responsive-value(213, 87, 1920, 780, "fixed-start-value", "px");
        height: functions.responsive-value(41, 17, 1920, 780, "fixed-start-value", "px");
      }
    }
  }
}

.burger-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  inline-size: 50px;
  aspect-ratio: 1 / 1;
  padding-block: 12px;
  padding-inline: 10px;

  .burger-active & {
    gap: 0;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: gap;
    transition-duration: 0.3s;
  }

  @media (min-width: #{768 + 0.1px}) {
    display: none;
  }

  // .burger-button__line
  &__line {
    inline-size: 100%;
    block-size: 2px;
    border-radius: 4px;
    background-color: variables.$color-secondary;

    @include mixins.prefers-reduced-motion {
      transition-property: inline-size, block-size, transform;
      transition-duration: 0.3s;
    }

    // .burger-button__line--top
    &--top {
      .burger-active & {
        transform: translateY(50%) rotate(315deg);
      }
    }

    // .burger-button__line--center
    &--center {
      .burger-active & {
        inline-size: 0;
        block-size: 0;
      }
    }

    // .burger-button__line--bottom
    &--bottom {
      .burger-active & {
        transform: translateY(-50%) rotate(-315deg);
      }
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: functions.responsive-value(49, 20, 1920, 390, "fixed-both", "px");

  @media (min-width: #{768 + 0.1px}) {
    gap: functions.responsive-value(49, 20, 1920, 780, "fixed-start-value", "px");
    flex: 1 1 auto;
  }

  @media (max-width: 768px) {
    position: fixed;
    inset-block: variables.$header-height 0;
    inset-inline: 0;
    z-index: 50;
    flex-direction: column;
    padding: 30px;
    background-color: variables.$color-body-background;
    overflow-x: hidden;
    overflow-y: auto;

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility, transform;
      transition-duration: 0.3s;
    }

    html:not(.burger-active) & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }
  }

  // .header-nav__inner
  &__inner {
  }

  // .header-nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: #{768 + 0.1px}) {
      gap: functions.responsive-value(20, 8, 1920, 780, "fixed-start-value", "px");
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .header-nav__item
  &__item {
    text-align: center;
  }

  // .header-nav__link
  &__link {
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: variables.$color-primary;

    &:not(.active) {
      @include mixins.hover {
        color: variables.$color-accent;
      }
    }

    &.active {
      color: variables.$color-accent;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (min-width: #{768 + 0.1px}) {
      font-size: functions.responsive-value(11, 4, 1920, 780, "fixed-start-value", "px");
    }
  }

  // .header-nav__button
  &__button {
    --outline-color: #{variables.$color-secondary};

    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 38px;
    padding-block: 4px;
    padding-inline: 24px;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-secondary;
    border: 1px solid variables.$color-secondary;

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-secondary;
      background-color: rgba($color: variables.$color-secondary, $alpha: 0);
    }

    @media (min-width: #{768 + 0.1px}) {
      min-block-size: functions.responsive-value(38, 15, 1920, 780, "fixed-start-value", "px");
      padding-inline: functions.responsive-value(24, 10, 1920, 780, "fixed-start-value", "px");
      font-size: functions.responsive-value(13, 5, 1920, 780, "fixed-start-value", "px");
    }

    @media (max-width: 768px) {
      inline-size: 100%;
    }
  }
}
