$color-white: #fff;
$color-black: #000;

$color-primary: #423b34;
$color-secondary: #996649;
$color-accent: #9c6a39;
$color-text: #666565;

$color-body-background: #fffefc;
$color-section-background: #ebe4e0;
$color-block-background: #f8f1ed;
$color-text-2: #4a4a4a;
$color-image-background: #d9d9d9;
$color-input-border: #cacaca;
$color-map-text: #5b5b5b;
$color-map-link: #1a73e8;
