$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-playfair-display: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;
$font-tenor-sans: "Tenor Sans", sans-serif;
